@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 17px;
    display: flex;
    justify-content: space-between;
}

.header_title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #95E1D3;
}

.header_nav {
    width: 100%;
    max-width: 470px;
    display: flex;
    justify-content: space-between;
}

.header_nav--link {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #95E1D3;
    text-decoration: none;
}

.header_nav--link:hover {
    color: #F38181;
    border-bottom: solid 3px #F38181;
}

.services {
    width: 100%;
    max-width: 315px;
    margin: 0 auto;
    padding-top: 68px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services_subtitle {
    font-family: Kaushan Script;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #333333;
}

.services_title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    font-variant: small-caps;
    color: #333333;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.services_line {
    width: 60px;
    height: 4px;
    background-color: #F38181;
}

.photography {
    width: 100%;
    max-width: 1168px;
    margin: 0 auto;
    padding-top: 65px;
}

.photography_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    row-gap: 100px;
}

.photography_container--card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 367px;
    gap: 20px;
}

.photography_container--card--content--title {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #333333;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.photography_container--card--content--text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0%;
    color: #B6B6B6;
}

.team {
    width: 100%;
    max-width: 1104px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.team_subtitle {
    font-family: Kaushan Script;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #333333;
}

.team_title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    font-variant: small-caps;
    color: #333333;
    margin-top: 17px;
    margin-bottom: 36px;
}

.team_line {
    width: 60px;
    height: 4px;
    background-color: #F38181;
    margin-bottom: 45px;
}

.team_text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #B6B6B6;
}

.workers {
    width: 100%;
    max-width: 1200px;
    padding-top: 45px;
    margin: 0 auto;
    padding-bottom: 80px;
}

.workers_container {
    display: flex;
    justify-content: space-between;
}

.workers_card--name {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin-top: 30px;
    margin-bottom: 10px;
}

.workers_card--proffesion {
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #B6B6B6;

}

.footer {
    width: 100%;
    max-width: 1200px;
    border-top: solid 1px #B6B6B6;
    margin: 0 auto;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_adress {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #333333;
}

.footer_adress--link {
    text-decoration: none;
    color: #F38181;
}

.footer_container form {
    display: flex;
    align-items: center;
}

.footer_container input {
    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #B6B6B6;
    border: solid 1px #B6B6B6;
    border-right: none;
    padding: 10px 38px;
}


.footer_container--content--button {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    font-variant: small-caps;
    color: #FFFFFF;
    background-color: #95E1D3;
    padding: 11px 38px;
    text-transform: uppercase;
    border: solid 1px #95E1D3;
}