@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 17px;
}

.header_title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #95E1D3;
}

.header_nav {
    width: 100%;
    max-width: 470px;
    margin-top: 32px;
}

.header_nav--link {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #95E1D3;
    text-decoration: none;
}

.header_nav--link:hover {
    color: #F38181;
    border: 50px #F38181;
}

.services {
    width: 100%;
    max-width: 275px;
    margin: 0 auto;
    margin-top: 68px;
}

.services_subtitle {
    font-family: Kaushan Script;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #333333;
}

.services_title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    font-variant: small-caps;
    color: #333333;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;

}

.services_line {
    width: 60px;
    height: 4px;
    background-color: #F38181;
}

.photography {
    width: 100%;
    max-width: 1168px;
    margin: 0 auto;
    margin-top: 65px;
}

.photography_container--card--content--title {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    font-variant: small-caps;
    color: #333333;
}

.team {
    width: 100%;
    max-width: 1104px;
    margin-top: 100px;
}

.workers {
    width: 100%;
    max-width: 1104px;
    margin-top: 45px;
}

.workers_container {
    width: 100%;
    max-width: 1200px;
    margin-top: 27px;
}

.footer {
    width: 100%;
    max-width: 1200px;
    margin-top: 80px;
}